{% extends "base.html" %}

{% block content %}
<div class="container mx-auto my-10">
    <div class="flex justify-center">
        <div class="max-w-md w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white text-center mb-4">Reset Password</h2>
            {% include "parts/alerts.html" %}

            <form action="{% url 'accounts:resetpassword' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="password1" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Create Password:</label>
                    <input type="password" id="password1" name="password1" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300" placeholder="Create Password" required>
                </div>
                <div class="mb-4">
                    <label for="password2" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Confirm Password:</label>
                    <input type="password" id="password2" name="password2" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="w-full py-2 px-4 bg-blue-700 text-white rounded-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Reset</button>
            </form>
            <hr class="my-4">
            <p class="text-center">Don't have an account? <a href="{% url 'accounts:sign_up' %}" class="text-blue-600 hover:underline">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}
